<div id="comment-<%= comment.id %>">
  <% if !comment.user.nil? %>
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <div class="user"><%= link_to comment.user.name, comment.user %></div>
    <div class="content">
      <%= comment.content %>
    </div>
    <div class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </div>
    <% if current_user.present? %>
      <a class="btn " data-toggle="collapse" href="#collapse_reaction_comment<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapse_reaction_comment">
        <% if comment.reaction_comments.length() == 0 %>
          <i class="far fa-thumbs-up"></i> 
        <% end %>
        <span  id="reaction_comment<%= comment.id %>">
          <% comment.emojis.uniq.each do |emoji| %>
            <%= emoji.emoji_image %>
          <% end %>
        </span>
        <sub> <%= comment.reaction_comments.length() %></sub>
      </a>
      <a class="btn " data-toggle="collapse" href="#collapse_comment<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapse_comment">
        comment
      </a>
      <% if current_user?(comment.user) %>
        <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" }, remote: true %>
      <% end %>
      <div class="collapse" id="collapse_reaction_comment<%= comment.id %>" data-reaction-comment-url=<%= reaction_comments_path %>>
        <% @emojis.each do |emoji| %>
          <a class="btn reaction-comment" data-control="on" data-emoji_id=<%= emoji.id %> data-comment_id=<%= comment.id %>><span><%= emoji.emoji_image %></span></a>
        <% end %>
      </div>
      <div class="collapse" id="collapse_comment<%= comment.id %>" >
        <ul class="comments">
          <%= render comment.children_comments if comment.children_comments.present? %> 
        </ul>
        <ul>
          <%= form_for(Comment.new(), html: { method: "post", multipart: true, remote: true }) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <div><%= hidden_field_tag "comment[micropost_id]", comment.micropost.id %></div>
            <div><%= hidden_field_tag "comment[parent_comment_id]", comment.id %></div>
            <div class="field row">
              <div class="col-sm-10">
                <%= f.text_area :content, placeholder: "Compose new micropost...", id: "comment#{comment.id}_content" %>
              </div>
              <div class="col-sm-2">
                <%= f.submit "Post", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </ul> 
      </div>
    <% end %>
  <% end %>
</div>
