<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar.url %>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %>
        <br>
        <%= @user.provider if @user.provider.present? %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
      <%= render "follow_form" if logged_in? %>
  </aside>
 <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.providers.google.present? %>
          <%= image_tag @user.providers.google.avatar.url %>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.providers.facebook.name %>
        <br>
        <%= @user.providers.google.provider if @user.providers.google.present? %>
      </h1>
    </section>
  </aside>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.providers.facebook.present? %>
          <%= image_tag @user.providers.facebook.avatar.url %>  
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.providers.facebook.name %>
        <br>
        <%= @user.providers.facebook.provider if @user.providers.facebook.present? %>
      </h1>
    </section>
  </aside>
</div>
</div>
